<footer>
    <div id="CONTACT" class="pt-5 contact-section container-fluid ">
        <div class="row justify-content-center ">
            <div class="col-lg-3 ">
                <h5>About Us</h5>

                <p class="intro ">At TrustMeDecor, We provide our customers a large variety of experiences.We make it our priority to understand our client’s objectives to create a unique and memorable event.
                </p>

            </div>
            <div class="col-lg-4 ">

                <h5>Contact Info:</h5>
                <p class="intro ">Phone: +919625233615</p>
                <p class="intro ">Email: trustmedecor2020@gmail.com</p>
            </div>
            <div class="col-lg-2  quick-links">
                <h5>Quick Links</h5>

                <li>
                    <a class="intr " href="/">Home</a>
                </li>
                <li>
                    <a class="intr " href="#EXPERIENCE">Experiences</a>
                </li>
                <li>
                    <a class="intr " href="#CONTACT">About</a>
                </li>
                <li>
                    <a class="intr " href="#" type="button" data-toggle="modal" data-target="#exampleModal">Help</a>
                </li>
            </div>
        </div>
        <div class="container mt-3 mb-1 " style="text-align: center; ">
            <img class="footer-logo " src="/icons/VISA-removebg.png " alt=" ">
            <img class="footer-logo " src="/icons/upi.png " alt=" ">
            <img class="footer-logo " src="/icons/mastercard-logo.png " alt=" ">
            <img class="footer-logo " src="/icons/razorpay.svg " alt=" ">
            <img class="footer-logo " src="/icons/gpay.svg " alt=" ">
            <img class="footer-logo " src="/icons/phon.svg " alt=" ">
        </div>
        <!-- Copyright -->
        <p class="last text-center mt-3 mb-5 ">© Copyright 2022 Trust me Decor</p>
    </div>
</footer>
<!-- Footer -->




















<!-- JAVASCRIPT -->
<script src="index.js"></script>
<!--Animate-JS-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>



</html>

</html>