<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrustMeDecor</title>
    <!-- Css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- BOOTSTRAP SCRIPT -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Dongle:wght@300;400;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <!-- Fav-icon-->
    <link rel="shortcut icon" href="/icons/logo.png" type="image/x-icon">
    <!--Animate -cdn-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- Navigation Bar -->
    <div class="container-lg">
        <nav class="navbar navbar-expand-lg navbar-light" data-aos="fade-down" data-aos-duration="1500">
            <a class="navbar-brand mr-auto" href="/" data-aos="fade-down" data-aos-duration="1500"><img class="logo img-fluid img-responsive" src="/icons/Logo.png" alt="Brand-Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <i class="fas fa-bars"></i>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="/"><i class="fas fa-home px-2"></i>Home</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="#EXPERIENCE"><i class="fas fa-birthday-cake  px-2"></i>Experiences</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="#CONTACT"><i class="fas fa-users  px-2"></i>About</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="#" type="button" data-toggle="modal" data-target="#exampleModal"><i class="far fa-question-circle  px-2"></i>Help</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="#" style="display:none;">Login</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a type="button" class="nav-link" href="" style="display: none;">SignUp</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Help Desk</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form action="https://formsubmit.co/trustmedecor2020@gmail.com" method="POST">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Your Email</label>
                            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea type="message" name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Message..."></textarea>
                        </div>
                        <button type="submit" class="hero-btn btn btn-outline-dark">Submit</button>
                        <button type="button" class=" btn btn-outline-danger" data-dismiss="modal">Close</button>

                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>